{% extends 'base.html' %}

{% block title %}Home{% endblock title%}

{% block content %}
<h1>Home</h1>
<p>
    Our task manager is your ultimate companion for staying organized and productive! Designed as an intuitive to-do app, it empowers you with full CRUD (Create, Read, Update, Delete) functionality, giving you complete control over your tasks. Whether you're managing daily errands, planning long-term projects, or simply trying to stay on top of your priorities, our app makes it easy to create tasks, track progress, make adjustments, and declutter your list as you go. Say goodbye to chaos and hello to effortless productivity! Ready to transform the way you manage your day? Dive in and take charge of your to-do list today!
</p>
{% endblock content %}